<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>DBBDC609-18A6-4EF0-9AAA-76A0B33D69E8</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.rr.gangju</string>
			<key>appVersion</key>
			<string>1.1.8</string>
			<key>cloudDescription</key>
			<string></string>
			<key>name</key>
			<string>天天看港剧 Patch</string>
			<key>switchedOn</key>
			<false/>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VideoInfo</string>
						<key>displayName</key>
						<string>-(bool) vip</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>vip</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VideoInfo</string>
						<key>displayName</key>
						<string>-(void) setVip:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setVip:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VideoInfo</string>
						<key>displayName</key>
						<string>-(bool) vip_download</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>vip_download</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VideoInfo</string>
						<key>displayName</key>
						<string>-(void) setVip_download:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setVip_download:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>WebAD</string>
						<key>displayName</key>
						<string>-(void) playAd</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>playAd</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>WebAD</string>
						<key>displayName</key>
						<string>-(void) setCanPlayAD:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setCanPlayAD:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>AdInfo</string>
						<key>displayName</key>
						<string>-(bool) succ</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>succ</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
