<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>122C51D6-95C4-4EA7-9AD1-C268E44237D8</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.huajiao.vapp</string>
			<key>appVersion</key>
			<string>1.0.3</string>
			<key>author</key>
			<string>@MO 454503002</string>
			<key>cloudDescription</key>
			<string></string>
			<key>name</key>
			<string>花椒视频 Patch</string>
			<key>switchedOn</key>
			<true/>
			<key>tableViewIndex</key>
			<integer>241</integer>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VodObject</string>
						<key>displayName</key>
						<string>-(bool) vip_download</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>vip_download</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>免登陆下载</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>VodObject</string>
						<key>displayName</key>
						<string>-(void) setVip:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setVip:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>免登陆观看</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PrerollWebAd</string>
						<key>displayName</key>
						<string>-(void) setCanPlayAD:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setCanPlayAD:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>去除播放前广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PrerollAdView</string>
						<key>displayName</key>
						<string>-(void) prerollAdViewLayout</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>prerollAdViewLayout</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>去除播放前广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>NoticeView</string>
						<key>displayName</key>
						<string>-(void) animationAction:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>animationAction:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>去除充值弹窗</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
</dict>
	</array>
</dict>
</plist>