<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>45380906-036D-46AD-A018-F304B476F92F</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.kumquat.jjys</string>
			<key>appVersion</key>
			<string>1.0.7</string>
			<key>cloudDescription</key>
			<string></string>
			<key>name</key>
			<string>金桔影视(南瓜)破解</string>
			<key>switchedOn</key>
			<true/>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>DouBanObj</string>
						<key>displayName</key>
						<string>-(void) setLaunchAdImageUrl:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setLaunchAdImageUrl:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除启动广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HomeChildViewController</string>
						<key>displayName</key>
						<string>-(void) setHomeCilidHeaderView:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setHomeCilidHeaderView:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除首页轮播广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ChildHorTableViewCell</string>
						<key>displayName</key>
						<string>-(void) setAdSubView:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdSubView:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>禁止首页插入式广告点击跳转</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ChildHorTableViewCell</string>
						<key>displayName</key>
						<string>-(void) setAdImageView:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdImageView:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除首页插入式广告 留白</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>MediaPlayHeaderView</string>
						<key>displayName</key>
						<string>-(void) setAdSubView:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdSubView:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除播放页面插入式广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>MediaPlaySubViewController</string>
						<key>displayName</key>
						<string>-(void) insertAdView</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>insertAdView</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>去除播放前广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>DouBanObj</string>
						<key>displayName</key>
						<string>-(void) setCenterAdData:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setCenterAdData:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除暂停广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>DouBanObj</string>
						<key>displayName</key>
						<string>-(void) setFullAdData:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setFullAdData:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除选集跳转广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>UserModel</string>
						<key>displayName</key>
						<string>-(bool) isVip</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isVip</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>开启会员</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>UserModel</string>
						<key>displayName</key>
						<string>-(id) vipInfo</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>vipInfo</string>
						<key>typeEncoding</key>
						<string>@16@0:8</string>
					</dict>
					<key>name</key>
					<string>会员等级</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>1</integer>
								<key>type</key>
								<integer>1</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>1</integer>
								<key>value</key>
								<string>永久会员</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>UserModel</string>
						<key>displayName</key>
						<string>-(id) userName</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>userName</string>
						<key>typeEncoding</key>
						<string>@16@0:8</string>
					</dict>
					<key>name</key>
					<string>用户名修改</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>1</integer>
								<key>type</key>
								<integer>1</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>1</integer>
								<key>value</key>
								<string>老子胸口有纹身</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
</dict>
	</array>
</dict>
</plist>